/* 
body {
  margin: 0;
  padding: 0;
  background: #283f6d8f;
  font-family: "Segoe UI", Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.card {
  background: #ffffff;
  width: 100%;
  max-width: 380px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}
.logo {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 12px;
}

.form {
  text-align: left;
  margin-top: 20px;
}

.label {
  font-size: 14px;
  color: #374151;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 12px 0;
  font-size: 15px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  transition: 0.2s ease;
}

.input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 6px rgba(37, 99, 235, 0.3);
  outline: none;
}

.btn {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 8px;
  margin-top: 14px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.primary-btn {
  background: #ea7005;
}

.primary-btn:hover {
  background: #d8871e;
}

.success-btn {
  background: #ea7005;
}

.success-btn:hover {
  background: #d8871e;
}

.warning-btn {
  background: #ea7005;
}

.warning-btn:hover {
  background: #d8871e;
}

.link-btn {
  background: none;
  border: none;
  font-size: 14px;
  margin-top: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: #2563eb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
} */
